<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhjsj.mapper.TeacherApplyMapper" >
  <resultMap id="BaseResultMap" type="com.xhjsj.domain.TeacherApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="req_number" property="reqNumber" jdbcType="VARCHAR" />
    <result column="t_number" property="tNumber" jdbcType="VARCHAR" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="e_name" property="eName" jdbcType="VARCHAR" />
    <result column="section" property="section" jdbcType="VARCHAR" />
    <result column="r_number" property="rNumber" jdbcType="VARCHAR" />
    <result column="r_now_per" property="rNowPer" jdbcType="DECIMAL" />
    <result column="r_max_per" property="rMaxPer" jdbcType="DECIMAL" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="s_date" property="sDate" jdbcType="DATE" />
    <result column="e_date" property="eDate" jdbcType="DATE" />
    <result column="s_time" property="sTime" jdbcType="INTEGER" />
    <result column="e_time" property="eTime" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="attri_text01" property="attriText01" jdbcType="VARCHAR" />
    <result column="attri_text02" property="attriText02" jdbcType="VARCHAR" />
    <result column="attri_number01" property="attriNumber01" jdbcType="DECIMAL" />
    <result column="attri_number02" property="attriNumber02" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, req_number, t_number, t_name, e_name, section, r_number, r_now_per, r_max_per, 
    create_date, update_date, status, s_date, e_date, s_time, e_time, remark, attri_text01, 
    attri_text02, attri_number01, attri_number02
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xhjsj.domain.TeacherApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_e_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_e_apply
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="timeSelect" resultMap="BaseResultMap">
    SELECT r_number FROM t_e_apply
    <where>
      e_date between #{startTime} and #{endTime} or attri_text01 between #{startTime} and #{endTime}
    </where>
  </select>

  <select id="getExpDetailByT" resultMap="BaseResultMap">
    SELECT * FROM t_e_apply t
    <where>
      t.req_number = #{reqNumber} or t.attri_text01 = #{reqNumber}
    </where>
  </select>

  <select id="getExpInfo" resultMap="BaseResultMap">
    SELECT * FROM t_e_apply t
    <where>
      t.req_number = #{reqNumber} and t.s_date = #{date} or t.attri_text01 = #{reqNumber} and t.s_date = #{date}
    </where>
  </select>

  <select id="findExpDetailByT" resultMap="BaseResultMap">
    SELECT * FROM t_e_apply t
    <where>
      t.req_number = #{reqNumber} or t.attri_text01 = #{reqNumber} and t.status = '申请提交(教师)'
    </where>
  </select>

  <select id="timeSelect2" resultMap="BaseResultMap">
    SELECT r_number FROM t_e_applyfindExpDetailByT
    <where>
      ((s_date BETWEEN #{sDate} AND #{eDate}) AND (s_time &gt; #{sTime} AND s_time &lt; #{eTime}))
      OR  ((e_date BETWEEN #{sDate} AND #{eDate}) AND (e_time &gt; #{sTime} AND e_time &lt; #{eTime}))
      AND e_date>=CURDATE()
    </where>
  </select>

  <select id="likeQueryExpApplyByTeaNumAndKeywords" resultMap="BaseResultMap">
    SELECT * FROM t_e_apply
    WHERE
    1 = 1
    AND t_number = #{tNum}
    <if test="_parameter != null">
      AND status like #{keywords} or e_name like #{keywords} or req_number  like #{keywords} or r_number  like #{keywords}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_e_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhjsj.domain.TeacherApplyExample" >
    delete from t_e_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhjsj.domain.TeacherApply" >
    insert into t_e_apply (id, req_number, t_number, 
      t_name, e_name, section, 
      r_number, r_now_per, r_max_per, 
      create_date, update_date, status, 
      s_date, e_date, s_time, e_time, 
      remark, attri_text01, attri_text02, 
      attri_number01, attri_number02)
    values (#{id,jdbcType=INTEGER}, #{reqNumber,jdbcType=VARCHAR}, #{tNumber,jdbcType=VARCHAR}, 
      #{tName,jdbcType=VARCHAR}, #{eName,jdbcType=VARCHAR}, #{section,jdbcType=VARCHAR}, 
      #{rNumber,jdbcType=VARCHAR}, #{rNowPer,jdbcType=DECIMAL}, #{rMaxPer,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{sDate,jdbcType=DATE}, #{eDate,jdbcType=DATE}, #{sTime,jdbcType=INTEGER}, #{eTime,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{attriText01,jdbcType=VARCHAR}, #{attriText02,jdbcType=VARCHAR}, 
      #{attriNumber01,jdbcType=DECIMAL}, #{attriNumber02,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.xhjsj.domain.TeacherApply" >
    insert into t_e_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reqNumber != null" >
        req_number,
      </if>
      <if test="tNumber != null" >
        t_number,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
      <if test="eName != null" >
        e_name,
      </if>
      <if test="section != null" >
        section,
      </if>
      <if test="rNumber != null" >
        r_number,
      </if>
      <if test="rNowPer != null" >
        r_now_per,
      </if>
      <if test="rMaxPer != null" >
        r_max_per,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sDate != null" >
        s_date,
      </if>
      <if test="eDate != null" >
        e_date,
      </if>
      <if test="sTime != null" >
        s_time,
      </if>
      <if test="eTime != null" >
        e_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="attriText01 != null" >
        attri_text01,
      </if>
      <if test="attriText02 != null" >
        attri_text02,
      </if>
      <if test="attriNumber01 != null" >
        attri_number01,
      </if>
      <if test="attriNumber02 != null" >
        attri_number02,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="reqNumber != null" >
        #{reqNumber,jdbcType=VARCHAR},
      </if>
      <if test="tNumber != null" >
        #{tNumber,jdbcType=VARCHAR},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="eName != null" >
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="section != null" >
        #{section,jdbcType=VARCHAR},
      </if>
      <if test="rNumber != null" >
        #{rNumber,jdbcType=VARCHAR},
      </if>
      <if test="rNowPer != null" >
        #{rNowPer,jdbcType=DECIMAL},
      </if>
      <if test="rMaxPer != null" >
        #{rMaxPer,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sDate != null" >
        #{sDate,jdbcType=DATE},
      </if>
      <if test="eDate != null" >
        #{eDate,jdbcType=DATE},
      </if>
      <if test="sTime != null" >
        #{sTime,jdbcType=INTEGER},
      </if>
      <if test="eTime != null" >
        #{eTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attriText01 != null" >
        #{attriText01,jdbcType=VARCHAR},
      </if>
      <if test="attriText02 != null" >
        #{attriText02,jdbcType=VARCHAR},
      </if>
      <if test="attriNumber01 != null" >
        #{attriNumber01,jdbcType=DECIMAL},
      </if>
      <if test="attriNumber02 != null" >
        #{attriNumber02,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhjsj.domain.TeacherApplyExample" resultType="java.lang.Integer" >
    select count(*) from t_e_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <update id="updateTeasStatus" parameterType="map" >
        update t_e_apply t set t.status = #{status} where t.req_number = #{reqNumber} or t.attri_text01 = #{reqNumber}
  </update>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_e_apply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.reqNumber != null" >
        req_number = #{record.reqNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.tNumber != null" >
        t_number = #{record.tNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.tName != null" >
        t_name = #{record.tName,jdbcType=VARCHAR},
      </if>
      <if test="record.eName != null" >
        e_name = #{record.eName,jdbcType=VARCHAR},
      </if>
      <if test="record.section != null" >
        section = #{record.section,jdbcType=VARCHAR},
      </if>
      <if test="record.rNumber != null" >
        r_number = #{record.rNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.rNowPer != null" >
        r_now_per = #{record.rNowPer,jdbcType=DECIMAL},
      </if>
      <if test="record.rMaxPer != null" >
        r_max_per = #{record.rMaxPer,jdbcType=DECIMAL},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.sDate != null" >
        s_date = #{record.sDate,jdbcType=DATE},
      </if>
      <if test="record.eDate != null" >
        e_date = #{record.eDate,jdbcType=DATE},
      </if>
      <if test="record.sTime != null" >
        s_time = #{record.sTime,jdbcType=INTEGER},
      </if>
      <if test="record.eTime != null" >
        e_time = #{record.eTime,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.attriText01 != null" >
        attri_text01 = #{record.attriText01,jdbcType=VARCHAR},
      </if>
      <if test="record.attriText02 != null" >
        attri_text02 = #{record.attriText02,jdbcType=VARCHAR},
      </if>
      <if test="record.attriNumber01 != null" >
        attri_number01 = #{record.attriNumber01,jdbcType=DECIMAL},
      </if>
      <if test="record.attriNumber02 != null" >
        attri_number02 = #{record.attriNumber02,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_e_apply
    set id = #{record.id,jdbcType=INTEGER},
      req_number = #{record.reqNumber,jdbcType=VARCHAR},
      t_number = #{record.tNumber,jdbcType=VARCHAR},
      t_name = #{record.tName,jdbcType=VARCHAR},
      e_name = #{record.eName,jdbcType=VARCHAR},
      section = #{record.section,jdbcType=VARCHAR},
      r_number = #{record.rNumber,jdbcType=VARCHAR},
      r_now_per = #{record.rNowPer,jdbcType=DECIMAL},
      r_max_per = #{record.rMaxPer,jdbcType=DECIMAL},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=VARCHAR},
      s_date = #{record.sDate,jdbcType=DATE},
      e_date = #{record.eDate,jdbcType=DATE},
      s_time = #{record.sTime,jdbcType=INTEGER},
      e_time = #{record.eTime,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      attri_text01 = #{record.attriText01,jdbcType=VARCHAR},
      attri_text02 = #{record.attriText02,jdbcType=VARCHAR},
      attri_number01 = #{record.attriNumber01,jdbcType=DECIMAL},
      attri_number02 = #{record.attriNumber02,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhjsj.domain.TeacherApply" >
    update t_e_apply
    <set >
      <if test="reqNumber != null" >
        req_number = #{reqNumber,jdbcType=VARCHAR},
      </if>
      <if test="tNumber != null" >
        t_number = #{tNumber,jdbcType=VARCHAR},
      </if>
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="eName != null" >
        e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="section != null" >
        section = #{section,jdbcType=VARCHAR},
      </if>
      <if test="rNumber != null" >
        r_number = #{rNumber,jdbcType=VARCHAR},
      </if>
      <if test="rNowPer != null" >
        r_now_per = #{rNowPer,jdbcType=DECIMAL},
      </if>
      <if test="rMaxPer != null" >
        r_max_per = #{rMaxPer,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sDate != null" >
        s_date = #{sDate,jdbcType=DATE},
      </if>
      <if test="eDate != null" >
        e_date = #{eDate,jdbcType=DATE},
      </if>
      <if test="sTime != null" >
        s_time = #{sTime,jdbcType=INTEGER},
      </if>
      <if test="eTime != null" >
        e_time = #{eTime,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="attriText01 != null" >
        attri_text01 = #{attriText01,jdbcType=VARCHAR},
      </if>
      <if test="attriText02 != null" >
        attri_text02 = #{attriText02,jdbcType=VARCHAR},
      </if>
      <if test="attriNumber01 != null" >
        attri_number01 = #{attriNumber01,jdbcType=DECIMAL},
      </if>
      <if test="attriNumber02 != null" >
        attri_number02 = #{attriNumber02,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhjsj.domain.TeacherApply" >
    update t_e_apply
    set req_number = #{reqNumber,jdbcType=VARCHAR},
      t_number = #{tNumber,jdbcType=VARCHAR},
      t_name = #{tName,jdbcType=VARCHAR},
      e_name = #{eName,jdbcType=VARCHAR},
      section = #{section,jdbcType=VARCHAR},
      r_number = #{rNumber,jdbcType=VARCHAR},
      r_now_per = #{rNowPer,jdbcType=DECIMAL},
      r_max_per = #{rMaxPer,jdbcType=DECIMAL},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      s_date = #{sDate,jdbcType=DATE},
      e_date = #{eDate,jdbcType=DATE},
      s_time = #{sTime,jdbcType=INTEGER},
      e_time = #{eTime,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      attri_text01 = #{attriText01,jdbcType=VARCHAR},
      attri_text02 = #{attriText02,jdbcType=VARCHAR},
      attri_number01 = #{attriNumber01,jdbcType=DECIMAL},
      attri_number02 = #{attriNumber02,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>